/*RESET*/
*{
    margin: 0;
    padding: 0;    
} 
body{
    text-align: center;
    size: 100vw 100vh !important;  
}
#alert-link{
    background-color: white;
    border-color:rgb(10, 36, 236);
    border-style: solid;
    border-radius: 10ch;
    text-align: center;
    font-size: 30px;
}
#footer{ 
   
    color: black;   
    font-size: 100%;
    bottom: 0;
    position: absolute;
    margin-left: 45vw;
}
#galery1{
    
    height: 100vh !important;
    width: 100vw;
    background: url(fundoDogs.jpg) center center no-repeat;
    background-size: cover;
}


input, label{
  
    text-align: center;
    font-size: 30px;
}

#botaoClique{
    text-align: center;
    font-size: 23px;
} 

h1{
    font-size: 40px; 
}

.divImgDog{
 
    height: 40vh;
    width: 100vw;
    
}
    
